<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay-Italic-VariableFont_wght.ttf</string>
		<string>PlayfairDisplay-VariableFont_wght.ttf</string>
		<string>CrimsonPro-Italic-VariableFont_wght.ttf</string>
		<string>CrimsonPro-VariableFont_wght.ttf</string>
		<string>London Underground LCD Clock.ttf</string>
		<string>ChakraPetch-Bold.ttf</string>
		<string>ChakraPetch-BoldItalic.ttf</string>
		<string>ChakraPetch-Italic.ttf</string>
		<string>ChakraPetch-Light.ttf</string>
		<string>ChakraPetch-LightItalic.ttf</string>
		<string>ChakraPetch-Medium.ttf</string>
		<string>ChakraPetch-MediumItalic.ttf</string>
		<string>ChakraPetch-Regular.ttf</string>
		<string>ChakraPetch-SemiBold.ttf</string>
		<string>ChakraPetch-SemiBoldItalic.ttf</string>
		<string>ShareTechMono-Regular.ttf</string>
	</array>
</dict>
</plist>
